name: Docker Image CI

on:
  release:
    types: [published]

jobs:

  build:
    runs-on: ubuntu-latest

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v6.18.0
      with:
        push: true
        tags: |
          ghcr.io/${{ github.repository }}/mycelia-backend:latest
          ghcr.io/${{ github.repository }}/mycelia-backend:${{ github.sha }}
